body {
  margin: 0;
  padding: 0;
  background: #87ceeb;
  font-family: sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ui {
  text-align: center;
  margin-top: 10px;
}

canvas {
  border: 2px solid #333;
  background-color: #6bc2ff;
  margin-top: 10px;
}
